/* .myelement {
    background-image: url('mybackground.svg');
} */

body {
    font-family: sans-serif;
    font-size  : 100%;
}

.mysvgbackground {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600"><circle cx="400" cy="300" r="50" stroke-width="5" stroke="#f00" fill="#ff0" /></svg>') center center no-repeat;
}

img {
    display  : block;
    max-width: 100%;
}

circle {
    stroke-width: 20;
    stroke      : #f00;
    fill        : #ff0;
}

circle:hover {
    stroke-width: 20;
    stroke      : #ff5f50;
    fill        : #1f0;
}


#invader {
    display: block;
    width  : 200px;
}

#invader path {
    stroke-width: 0;
    fill        : #080;
}

.icons {
    display        : flex;
    justify-content: space-between;
    margin         : 0;
    padding        : 0;
    list-style-type: none;
}

.icons li {
    margin: 3px;
}

.icons svg {
    display: block;
    width  : 100%;
    fill   : #f7d674;
}

.area {
    position  : absolute;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    clip-path : url(#clip);
  }