@keyframes jump {
  from {
    transform: translateY(0px) rotate(0deg) scale(1,1);
    opacity  : 1;
  }
  to {
    transform: translateY(-50px) rotate(360deg) scale(0.8, 0.8);
    opacity  : 0.8;
  }
}

.loader {
    border-radius: 50%;
    width        : 50px;
    height       : 50px;
    margin-top   : 50px;
    background   : linear-gradient(to bottom, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
    animation    : jump 1.5s ease-out infinite alternate;
  }