@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes skew {
    from {
        transform: skewX(10deg)
    }

    to {
        transform: skewX(40deg)
    }
}

.spinner {
    margin   : 10px;
    width    : 180px;
    height   : 180px;
    animation: rotate 2s linear infinite;
}

.spinner-dot {
    stroke      : #000;
    stroke-width: 1;
    fill        : #000;
    animation   : skew 2s linear infinite alternate;
}

.spinner-border {
    fill        : transparent;
    stroke-width: 2;
    width       : 100%;
    height      : 100%;
}

.path {
    stroke-dasharray : 170;
    stroke-dashoffset: 20;
}